@charset utf-8;

*{
	margin: 0;
	padding: 0;
}

div.container {
	height: 1386px;
	width: 980px;
	margin: 0 auto;
}

/* page-top */
div.container > div.page-top {
	position: relative;
	height: 61px;
	width: 892px;
	margin: 0 auto;
	border-bottom: 1px solid #999;
}
div.container > div.page-top > div.ife-head {
	position: absolute;
	height: 61px;
	width: 110px;
	background: #d55d5c;
	font: 12px 'SimHei';
	color: #ffffff;
	text-align: center;
}
div.container > div.page-top > div.ife-head p{
	position: absolute;
	bottom: 0;
	font: 12px 'SimHei';
	color: #ffffff;
	text-align: center;
	text-indent: 5px;
}
div.container > div.page-top > p {
	position: absolute;
	right: 0;
	bottom: 0;
	font: 12px 'SimHei';
	color: #d45d5c;
}

/* content-top */
div.container > div.content-top {
	width: 892px;
	margin: 35px auto;
	overflow: hidden;
}
div.container > div.content-top > div.big-img {
	position: relative;
	float: left;
	width: 641px;
}
div.container > div.content-top > div.big-img > div.img1-left {
	position: absolute;
	left: 0;
	height: 301px;
	width: 191px;
	background: #40594a;
	opacity: .5;
}
div.container > div.content-top > div.big-img > div.img1-right{
	position: absolute;
	right: 0;
	height: 301px;
	width: 191px;
	margin-left: -191px;
	background: #aa6b69;
	opacity: .5;
}
div.container > div.content-top > div.writing {
	float: right;
	width: 203px;
	border-top: 2px solid #cc8091;
}
div.container > div.content-top > div.writing > p.about {
	font: 24px 'Microsoft YaHei';
	text-decoration: underline;
}
div.container > div.content-top > div.writing > p.info {
	font: 12px 'KaiTi';
	color: #676767;
}
div.container > div.content-top > div.writing > p.num {
	font: oblique 110px 'Microsoft YaHei';
	color: #75b86b;
}
div.container > div.content-top > div.writing > div.three {
	float: left;
	font: 55px 'Microsoft YaHei';
	color: #cc8091;
}
div.container > div.content-top > div.writing > div.css {
	float: left;
	margin-top: 20px;
	margin-left: 10px;
	height: 43px;
}
div.container > div.content-top > div.writing > div.css p:first-child {
	font: 21px 'Microsoft YaHei';
	color: #cc8091;
}
div.container > div.content-top > div.writing > div.css p:last-child{
	font: 12px 'Microsoft YaHei';
	color: #cc8091;
}

/* intro */
div.container > div.intro {
	width: 641px;
	margin-left: 44px; 
	overflow: hidden;
}
div.container > div.intro p.pt{
	margin-top: 16px;
}
div.container > div.intro > div.what {
	float: left;
	width: 200px;
	font: 12px 'SimSun';
	line-height: 16px;
	color: #767777;
}
div.container > div.intro > div.what > p.what-t{
	font: bold 16px 'Microsoft YaHei';
	text-decoration: underline;
	color: #418c59;
}
div.container > div.intro > div.when {
	float: left;
	margin-left: 15px;
	width: 200px;
	font: 12px 'Microsoft YaHei';
	line-height: 16px;
	text-transform: 70%;
}
div.container > div.intro > div.when > p.when-t{
	font: bold 16px 'Microsoft YaHei';
	text-decoration: underline;
	color: #d2994f;
}
div.container > div.intro > div.how {
	float: left;
	margin-left: 15px;
	width: 200px;
	font: 12px 'Microsoft YaHei';
	line-height: 16px;
}
div.container > div.intro > div.how > p.how-t{
	font: bold 16px 'Microsoft YaHei';
	text-decoration: underline;
	color: #cc7680;
}

/* content-bottom */
div.container > div.content-bottom {
	width: 892px;
	margin: 35px auto;
	overflow: hidden;
}
div.container > div.content-bottom > div.intro-front{
	float: left;
	width: 400px; 
}
div.container > div.content-bottom > div.intro-front > div.front-title {
	border-bottom: 2px solid #11456b;
}
div.container > div.content-bottom > div.intro-front > div.front-title > p.the {
	display: inline;
	font: italic bold 72px 'SimHei';
	color: #f5e327;
}
div.container > div.content-bottom > div.intro-front > div.front-title > p.thc {
	display: inline;
	font: bold 42px 'SimHei';
	color: #11456b;
}
div.container > div.content-bottom > div.intro-front > div.front-title > p.of {
	font: bold 42px 'SimHei';
	color: #11456b;
	line-height: 16px;
}
div.container > div.content-bottom > div.intro-front > div.front-title > p.fn {
	font: bold 33px 'SimHei';
	color: #11456b;
	line-height: 70px;
}
div.container > div.content-bottom > div.intro-front > div.front-content {
	width: 400px;
	padding: 20px 0;
}
div.container > div.content-bottom > div.intro-front > div.front-content > p.ff {
	display: inline;
	font: 70px 'Microsoft YaHei';
	color: #f5e327;
}
div.container > div.content-bottom > div.intro-front > div.front-content > p.fp {
	display: inline;
	font: 12px 'SimSun';
	color: #767777;
	line-height: 16px;
}
div.container > div.content-bottom > div.intro-front > div.front-content > div.img2 {
	float: right;
	padding: 10px;
}
div.container > div.content-bottom > div.article {
	position: relative;
	float: right;
	width: 458px;
}
div.container > div.content-bottom > div.article > div.small-img {
	position: relative;
}
div.container > div.content-bottom > div.article > div.small-img > div.img3-title {
	position: absolute;
	bottom: 2px;
	height: 60px;
	width: 458px;
	background: #1c1c1b;
	opacity: .5;
}
div.container > div.content-bottom > div.article > div.small-img > div.img3-title .sp {
	margin-top: 10px;
	margin-left: 20px;
	padding-left: 5px;
	height: 40px;
	border-left: 3px solid #75b86c;
	line-height: 40px;
}
div.container > div.content-bottom > div.article > div.small-img > div.img3-title .sp span:first-child {
	font: 26px 'Microsoft YaHei';
	color: #ffffff
}
div.container > div.content-bottom > div.article > div.small-img > div.img3-title .sp span:last-child {
	font: italic 12px 'Microsoft YaHei';
	color: #72b16a;
}
div.container > div.content-bottom > div.article > div.article-content {
	margin-top: 50px;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	height: 418px;
	width: 459px;
	background: #efedd7;
	text-align: center;
	line-height: 30px;
}
div.container > div.content-bottom > div.article > div.article-content span.tag {
	display: inline-block;
	height: 0;
	width: 0;
	border-top: 5px solid transparent;
	border-bottom: 8px solid #10456b;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
div.container > div.content-bottom > div.article > div.article-content .red-writing {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 160px;
	width: 260px;
	background: #d55d5c;
}
div.container > div.content-bottom > div.article > div.article-content > div.red-writing > div.zero {
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	height: 120px;
	font:  110px 'Microsoft YaHei';
	color: #ffffff;
	border-right: 5px solid #ffffff;
	line-height: 120px;
}
div.container > div.content-bottom > div.article > div.article-content > div.red-writing > div.one {
	float: right;
	width: 160px;
	margin-top: 20px;
	margin-right: 10px;
	height: 120px;
	font: italic 21px 'SimSun';
	color: #ffffff;
	text-align: left;
}
div.container > div.content-bottom > div.article > div.article-content .none-writing {
	position: absolute;
	padding-right: 10px;
	right: 0px;
	bottom: 0;
	height: 160px;
	width: 180px;
	font: 14px 'SimHei';
	line-height: 24px;
	text-align: left;
}
div.container > div.content-bottom > div.article > div.article-content .none-writing span {
	font: 32px 'SimHei';
	color: #d45d5d;
}
div.container > div.content-bottom > div.article > div.article-content .none-writing span:last-child {
	float: right;
}

/* page-bottom */
div.container > div.page-bottom {
	margin: 0 auto;
	width: 892px;
	border-top: 1px solid #ccc;
}
div.container > div.page-bottom p{
	font: 12px 'SimHei';
	color: #d45d5c;
	text-align: right;
}